<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/animator?serverTimezone=UTC</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="ua.lviv.iot.model.AgencyEntity"/>
    <mapping class="ua.lviv.iot.model.AgencyHasAnimatorEntity"/>
    <mapping class="ua.lviv.iot.model.AnimatorEntity"/>
    <mapping class="ua.lviv.iot.model.AnimatorHasOrderEntity"/>
    <mapping class="ua.lviv.iot.model.CostEntity"/>
    <mapping class="ua.lviv.iot.model.CustomerEntity"/>
    <mapping class="ua.lviv.iot.model.OrderEntity"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>